
/* coisas genéricas */
* {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin: 0px;
    padding: 0px;
}
.container {
    max-width: 1200px;
    margin: auto;
}
/* coisas genéricas */

/* header */
header {
    position: fixed;
    width: 100%;
    height: 60px;
    background: url("/image/patternECOStransparente.png"), linear-gradient(to bottom right, #295ba7, #78b454);
}
img {
    width: 100%;
}

img.logo  {
    max-width: 100px;
    margin-top: 4px;
}
.pai-flex{
    justify-content: space-between;
}
.flex-box {
    display: flex;
    height: 100%;
    align-items: center;
    color: white;
}
.container-header {
    width: 97%;
    margin: auto;
}
.pesquisar {
    width:400px;
    margin-left: 5px;
    height: 35px;
    font-size: 13px ;
    border-radius: 3px;
    background-color: #356b6578 !important;
    border: none;
    padding: 5px;
    color: white;
}

.pesquisar::placeholder{
    color: white;
    padding: 5px
}

.i-position-search{
    margin-left: -24px;
}

.btn-inicio {
    height: 100%;
    width: 115px;
    font-weight: bold;
    font-size: 20px;
    background: transparent;
    border: none;
    color: white;
}

.btn-inicio:hover{
    background-color: #356b6578 !important;
}

.btn-notificacao{
    height: 100%;
    width: 80px;
    background-color: transparent;
    border: none;
}

.btn-notificacao .fas.fa-bell.lupa{
    color:white;
    font-size: 25px
}

.login {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 5px
}
/* header */

/* main */
main, body, html{
    background-color: #EFF3F8 !important;
}
main {
    position: fixed;
    height: 95.1%;
    width: 100%;
    margin-top: 3.1%;
    overflow-y: scroll;
}

.flex-main {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: flex-start;    
}

.noticias-recentes {
    width: 60%;
    min-height: 400px;
    background: #f8f9fa!important;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 2px rgb(0 0 0 / 8%);
}

.sistemas-processos{
    width: 38%;
    min-height: 400px;
    background: #f8f9fa!important;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 2px rgb(0 0 0 / 8%);
}

.main-header {
    line-height: 50px;
    font-size: 12px;
    padding: 0px 15px;
    border-bottom: 1px solid #d9d9d9cb;
    font-weight: 500;
}
.noticias-recentes-main{
    padding: 10px;
}

.card {
    width: 100%;
    height: 200px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 2px rgb(0 0 0 / 8%);
    margin-bottom: 10px;
    display: flex
}

img.noticia-img {
    width: 200px;
}

.card-texto {
    font-size: 13px;
    line-height: 27px;
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-midias ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 130px;
    line-height: 12px;
    margin-top: 8px;
}

.card-midias ul li{
    display: flex;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.container-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 15px;
    gap: 15px;
}

.container-grid button {
    height: 100px;
    background: white;
    border: none;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 10%);
    border-radius: 3px;
    font-size: 12px;
    color: #33A76F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-grid button:hover{ 
    color: #fff !important;
    text-decoration: none;
    background: #2ba962;
    background: -webkit-gradient(left top, right top, color-stop(0%, #2ba962), color-stop(98%, #2e6a99), color-stop(100%, #2e6a99));
    background: linear-gradient(to right, #2ba962 0%, #2e6a99 98%, #2e6a99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ba962', endColorstr='#2e6a99', GradientType=1);
}

.container-grid i {
    font-size: 30px;
}

/* main */
